@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #e24413;
  --primary-color-200: #ff5f1a;
  --primary-color-300: #ff5116;
  --primary-color-600: #b4360f;
  --primary-color-700: #87280b;

  --secondary-color: #f1f1f1;
  --secondary-color-600: #c0c0c0;
  --secondary-color-700: #909090;

  --third-color: #1e1e1e;
  --third-color-200: #2a2a2a;
  --third-color-300: #242424;
  --third-color-600: #181818;
  --third-color-700: #121212;

  --white-color: #fff;
  --dark-color: #1e1e1e;
}

.container-lines {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-image: linear-gradient(
    to right,
    transparent 19%,
    #d9d9d9 19%,
    #d9d9d9 calc(19% + 1px),
    transparent calc(19% + 1px),
    transparent 39%,
    #d9d9d9 39%,
    #d9d9d9 calc(39% + 1px),
    transparent calc(39% + 1px),
    transparent 59%,
    #d9d9d9 59%,
    #d9d9d9 calc(59% + 1px),
    transparent calc(59% + 1px),
    transparent 79%,
    #d9d9d9 79%,
    #d9d9d9 calc(79% + 1px),
    transparent calc(79% + 1px)
  );
  background-size: 100% 100%;
}
.container-lines-2 {
  max-width: 1720px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-image: linear-gradient(
    to right,
    transparent 19%,
    #d9d9d9 19%,
    #d9d9d9 calc(19% + 1px),
    transparent calc(19% + 1px),
    transparent 39%,
    #d9d9d9 39%,
    #d9d9d9 calc(39% + 1px),
    transparent calc(39% + 1px),
    transparent 59%,
    #d9d9d9 59%,
    #d9d9d9 calc(59% + 1px),
    transparent calc(59% + 1px),
    transparent 79%,
    #d9d9d9 79%,
    #d9d9d9 calc(79% + 1px),
    transparent calc(79% + 1px)
  );
  background-size: 100% 100%;
}
/*Header Kesik Çizgi*/
/* .right-header {
  clip-path: polygon(10% 100%, 100% 100%, 100% 0, 0 0);
}
*/
.intro-area::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  z-index: 1;
  top: 0; /* Üst kenara sıfırla */
  right: 0; /* Sağ kenara sıfırla */
  border-left: 70vw solid transparent; /* Sol taraftan %40 genişlik */
  border-top: 80vh solid var(--primary-color); /* Üst taraftan %80 yükseklik (renk değiştirilebilir) */
  margin-top: -10%;
  margin-right: 0;
}

.wrapper {
  max-width: 1752px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-gradient {
  background: linear-gradient(45deg, #e24413, #eb886a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph-linear-gradient-text {
  background: linear-gradient(93deg, #fff 0%, #e2e2e2 68.34%);
  background-clip: text;
}

.table-bottom-line::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 40%;
  background-color: #121212;
  opacity: 0.1;
  left: 19%;
  top: 60%;
}

.news-section-background {
  background: linear-gradient(180deg, #fafafa 0%, #fff 32.25%);
}

.swiper {
  overflow: visible !important;
}
